Schemas/1099 Efiling Shema iris-a2a-schema-and-business-rules-ty2025-v1.2/IRIS A2A INTAKE XML LIBRARY 2025/FORM_TYPES/IRS-Form1042SType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:us:gov:treasury:irs:ir" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:us:gov:treasury:irs:ir" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<FormDocumentation>
				<DescriptionTxt>IR (Information Return) Schema - Form 1042 S</DescriptionTxt>
				<ReleaseVersionDt>2025-03-13</ReleaseVersionDt>
			</FormDocumentation>
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports / Include ===== -->
	<xsd:include schemaLocation="../COMMON/IRS-IRefileTypes.xsd"/>
	<!-- ================================ -->
	<!-- =====Form Types Declarations===== -->
	<!-- ================================ -->
	<xsd:complexType name="Form1042SDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Form 1042-S Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2025-03-13</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The content model for the Form 1042 S.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TaxYr" type="YearType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax Year</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RecordId" type="RecordIdType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Record Identifier</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IssuerOfficeCd" type="Code4Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Issuer Office Code</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FormId">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form Id</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="StringType">
						<xsd:pattern value="[1-9][0-9]{9}|0[1-9][0-9]{8}|00[1-9][0-9]{7}|000[1-9][0-9]{6}|0000[1-9][0-9]{5}|00000[1-9][0-9]{4}|000000[1-9][0-9]{3}|0000000[1-9][0-9]{2}|000000000[1-9][0-9]|000000000[1-9]"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="AmendedInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amended Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AmendmentNum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amendment Number</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerPosType">
						<xsd:totalDigits value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PrevSubmittedRecRecipientGrp" type="PrevSubmittedRecRecipientGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Previously Submitted Record Recipient Group</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IncomeTypeCd" type="TwoDigitCodeType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Income type code</Description>
						<LineNumber>Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GrossIncomeAmt" type="USAmountNNType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross Income Amount</Description>
						<LineNumber>Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ChapterTypeCd" type="ChapterTypeCdType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Chapter Type Code</Description>
						<LineNumber>Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Chapter3Grp" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Chapter 3 Group</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ExemptionCd" type="TwoDigitCodeType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Exemption code</Description>
									<LineNumber>Line 3a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TaxRt" type="SmallRatioType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Tax Rate</Description>
									<LineNumber>Line 3b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Chapter4Grp">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Chapter 4 Group</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ExemptionCd" type="TwoDigitCodeType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Exemption code</Description>
									<LineNumber>Line 4a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TaxRt" type="SmallRatioType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Tax Rate</Description>
									<LineNumber>Line 3b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="WithholdingAllowanceAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Withholding Allowance Amount</Description>
						<LineNumber>Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NetIncomeAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Income Amount</Description>
						<LineNumber>Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FederalIncomeTaxWithheldAmt" type="USAmountNNType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Federal Income Tax Withheld Amount</Description>
						<LineNumber>Line 7a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TaxNotDepositPerEscrowProcInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax Not Deposit Per Escrow Procedure Indicator</Description>
						<LineNumber>Line 7b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SubsqYrWithholdingPrtshpIntInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subsequent Year Withholding Partnership Interest Indicator</Description>
						<LineNumber>Line 7c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="QIOrWPOrWTRevisingReportingInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified Intermediary or Withholding Foreign Partnership, or Withholding Foreign Trust Revising Indicator</Description>
						<LineNumber>Line 7d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OtherAgentsTaxWithheldAmt" type="USAmountNNType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Agents Tax Withheld Amount</Description>
						<LineNumber>Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RecipientRepaidAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Recipient Repaid Amount</Description>
						<LineNumber>Line 9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalTaxWithholdingCreditAmt" type="USAmountNNType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Tax Withholding Credit Amount</Description>
						<LineNumber>Line 10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WithholdingAgentTaxPaidAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Withholding Agent Tax Paid Amount</Description>
						<LineNumber>Line 11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Form1042SRecipientDetail">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 1042S Recipient Detail</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice>
							<xsd:sequence>
								<xsd:element name="PersonNameControlTxt" type="PersonNameControlType" minOccurs="0"/>
								<xsd:element name="PersonName" type="OtherCompletePersonNameType"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:element name="BusinessNameControlTxt" type="BusinessNameControlType" minOccurs="0"/>
								<xsd:element name="BusinessName" type="BusinessNameType"/>
							</xsd:sequence>
						</xsd:choice>
						<xsd:element name="AdditionalRecipientTxt" type="NameTextType" minOccurs="0"/>
						<xsd:element name="CountryCd" type="AllCountriesType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Country</Description>
									<LineNumber>Line 13b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="MailingAddressGrp" type="AddressGrpType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Mailing Address Group</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TIN" type="TINType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>TIN (Taxpayer Identification Number)</Description>
									<LineNumber>Line 13e</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TINSubmittedTypeCd" type="TINSubmittedTypeCdType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>A code used to identify the TIN submitted type</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Chapter3StatusCd" type="TwoDigitCodeType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Chapter 3 Status Code</Description>
									<LineNumber>13f</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Chapter4StatusCd" type="TwoDigitCodeType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Chapter 4 Status Code</Description>
									<LineNumber>Line 13g</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GIIN" type="GIINType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>GIIN</Description>
									<LineNumber>Line 13h</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FTIN" type="FTINType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>FTIN</Description>
									<LineNumber>Line 13i</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LOBCd" type="TwoDigitCodeType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>LOB Code</Description>
									<LineNumber>Line 13j</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="BirthDt" type="DateNoTimeZoneType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Birth Date</Description>
									<LineNumber>Line 13l</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RecipientAccountNum" type="Text30Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Recipient Account Number</Description>
						<LineNumber>Line 13k</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PrimaryWithholdingAgentGrp" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Primary Withholding Agent Group</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice>
							<xsd:element name="PersonNm" type="PersonNameType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Person Name</Description>
										<LineNumber>Line 14a</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BusinessName" type="BusinessNameType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Business Name</Description>
										<LineNumber>Line 14a</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>
						<xsd:element name="AdditionalTxt" type="NameTextType" minOccurs="0"/>
						<xsd:element name="EIN" type="EINType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>EIN</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ProRataBasisInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pro Rata Basis Indicator</Description>
						<LineNumber>Line 15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IntermediaryOrFlowThruEntGrp" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Intermediary or Flow-thru Entity Group</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="EIN" type="EINType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>EIN</Description>
									<LineNumber>Line 15a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Chapter3StatusCd" type="TwoDigitCodeType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Chapter 3 Status Code</Description>
									<LineNumber>Line 13f</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Chapter4StatusCd" type="TwoDigitCodeType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Chapter 4 Status Code</Description>
									<LineNumber>Line 13g</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:choice>
							<xsd:element name="PersonNm" type="PersonNameType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Person Name</Description>
										<LineNumber>Line 15d</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BusinessName" type="BusinessNameType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Business Name</Description>
										<LineNumber>Line 15d</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>
						<xsd:element name="AdditionalTxt" type="NameTextType" minOccurs="0"/>
						<xsd:element name="GIIN" type="GIINType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>GIIN</Description>
									<LineNumber>Line 15e</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CountryCd" type="AllCountriesType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Country Code</Description>
									<LineNumber>Line 15f</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FTIN" type="FTINType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Foreign Entity Identification</Description>
									<LineNumber>Line 15g</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="MailingAddressGrp" type="AddressGrpType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Mailing Address Group</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PayerGrp" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Payer Group</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice>
							<xsd:element name="PersonNm" type="PersonNameType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Person Name</Description>
										<LineNumber>Line 16a</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BusinessName" type="BusinessNameType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Business Name</Description>
										<LineNumber>Line 16a</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>
						<xsd:element name="AdditionalTxt" type="NameTextType" minOccurs="0"/>
						<xsd:element name="EIN" type="EINType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>EIN (Employer Identification Number)</Description>
									<LineNumber>Line 16b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GIIN" type="GIINType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>GIIN</Description>
									<LineNumber>Line 16c</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Chapter3StatusCd" type="TwoDigitCodeType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Chapter 3 Status Code</Description>
									<LineNumber>16d</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Chapter4StatusCd" type="TwoDigitCodeType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Chapter 4 Status Code</Description>
									<LineNumber>16e</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Form1042SStateTaxGrp" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>State Tax for Form 1042S</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="StateTaxWithheldAmt" type="USAmountNNType" minOccurs="0"/>
						<xsd:element name="StateIdNum" type="TextType" minOccurs="0"/>
						<xsd:element name="StateAbbreviationCd" type="StateType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Form1042STotalAmtGrpType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Form 1042 S Total Amount Group Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2023-01-27</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The content model for the Form 1042 S total amounts.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FederalIncomeTaxWithheldAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Federal Income Tax Withheld Amount</Description>
						<LineNumber>Line 7a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GrossIncomeAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross Income Amount</Description>
						<LineNumber>Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WithholdingAllowanceAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Withholding Allowance Amount</Description>
						<LineNumber>Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NetIncomeAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Income Amount</Description>
						<LineNumber>Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OtherAgentsTaxWithheldAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Agents Tax Withheld Amount</Description>
						<LineNumber>Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RecipientRepaidAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Recipient Repaid Amount</Description>
						<LineNumber>Line 9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalTaxWithholdingCreditAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Tax Withholding Credit Amount</Description>
						<LineNumber>Line 10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WithholdingAgentTaxPaidAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Withholding Agent Tax Paid Amount</Description>
						<LineNumber>Line 11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
