Schemas/1099 Efiling Shema iris-a2a-schema-and-business-rules-ty2025-v1.2/IRIS A2A INTAKE XML LIBRARY 2025/FORM_TYPES/IRS-Form8809Type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:us:gov:treasury:irs:ir" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:us:gov:treasury:irs:ir" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<DescriptionTxt>IR (Information Return) Schema - Form 8809 </DescriptionTxt>
			<VersionDt>2025-02-14</VersionDt>
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports / Include ===== -->
	<xsd:include schemaLocation="../COMMON/IRS-IRefileTypes.xsd"/>
	<!-- ================================ -->
	<!-- =====Form Types Declarations===== -->
	<!-- ================================ -->
	<xsd:complexType name="Form8809DetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Form 8809 Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2021-10-21</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The content model for the form 8809 .</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IssuerDetail" type="IssuerDetailType"/>
			<xsd:element name="ContactPersonInformationGrp" type="ContactPersonInformationGrpType" minOccurs="0"/>
			<xsd:element name="IRElectronicSubmissionInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Electronic method of filing information return</Description>
						<LineNumber>Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IRPaperSubmissionInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Paper method of filing information return</Description>
						<LineNumber>Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ApplicableFormTypeCd" minOccurs="1" maxOccurs="12">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Forms that extensions are being requested for. Note that option 1099 is a group that extends the due date for Forms 3921, 3922, W-2G, and some Forms 1097, 1098, and 1099 (see instructions).</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="StringType">
						<xsd:enumeration value="1042S"/>
						<xsd:enumeration value="1099"/>
						<xsd:enumeration value="1099QA"/>
						<xsd:enumeration value="5498"/>
						<xsd:enumeration value="5498QA"/>
						<xsd:enumeration value="5498ESA"/>
						<xsd:enumeration value="5498SA"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="JuratSignatureGrp" type="JuratSignatureGrpType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>