Schemas/1099 Efiling Shema iris-a2a-schema-and-business-rules-ty2025-v1.2/IRIS A2A INTAKE XML LIBRARY 2025/FORM_TYPES/IRS-Form1098CType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:us:gov:treasury:irs:ir" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:us:gov:treasury:irs:ir" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<DescriptionTxt>IR (Information Return) Schema - Form 1098 C</DescriptionTxt>
			<VersionDt>2025-02-13</VersionDt>
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports / Include ===== -->
	<xsd:include schemaLocation="../COMMON/IRS-IRefileTypes.xsd"/>
	<!-- ================================ -->
	<!-- =====Form Types Declarations===== -->
	<!-- ================================ -->
	<xsd:complexType name="Form1098CDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Form 1098 C Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2023-01-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The content model for the Form 1098 C.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TaxYr" type="YearType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax Year</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RecordId" type="RecordIdType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Record Identifier</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IssuerOfficeCd" type="Code4Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Issuer Office Code</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VoidInd" type="DigitBooleanType" fixed="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Void Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CorrectedInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Corrected Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PrevSubmittedRecRecipientGrp" type="PrevSubmittedRecRecipientGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Previously Submitted Record Recipient Group</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RecipientDetail" type="RecipientDetailType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Recipient Detail</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RecipientAccountNum" type="Text30Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Recipient Account Number</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ContributionDt" type="DateNoTimeZoneType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date of contribution</Description>
						<LineNumber>Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OdometerMileageQty" type="MilesNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Odometer Mileage</Description>
						<LineNumber>Line 2a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VehicleModelYr" type="YearType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Year</Description>
						<LineNumber>Line 2b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VehicleMakeNameTxt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Make</Description>
						<LineNumber>Line 2c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VehicleModelNameTxt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Model</Description>
						<LineNumber>Line 2d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VINOrOtherIdNum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Vehicle Identification Number or Other ID Number</Description>
						<LineNumber>Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CertifiesVehSoldToUnrltPrtyInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Donee certifies the vehicle was sold in arm's length transaction to unrelated party</Description>
						<LineNumber>Line 4a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SaleDt" type="DateNoTimeZoneType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date of Sale</Description>
						<LineNumber>Line 4b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GrossProceedsFromSaleOfVehAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross proceeds from sale</Description>
						<LineNumber>Line 4c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CertifiesVehicleNotTrnsfrInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Donee certfies the vehicle will not be transferred for money, other property, or services for significantly below fair market value in furtherance of donee's charitable purpose</Description>
						<LineNumber>Line 5a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CertifiesVehTrnsfrToNeedyInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Donee certifies the vehicle is to be transferred to a needy individual for significantly below fair market value in furtherance of donee's charitable purpose</Description>
						<LineNumber>Line 5b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CertifiesDetailedImprvDesc" type="ShortExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Donee certifies the following detailed description of material improvements or significant intervening use and duration of use</Description>
						<LineNumber>Line 5c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GoodsAndServicesYesInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Indicates that goods or services in exchange for the vehicle were provided</Description>
						<LineNumber>Line 6a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GoodsAndServicesNoInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Indicates that goods or services in exchange for the vehicle were not provided</Description>
						<LineNumber>Line 6a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ValueOfGoodsAndSrvcForVehAmt" type="USDecimalAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Value of goods and services provided in exchange for the vehicle</Description>
									<LineNumber>Line 6b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
			</xsd:element>
			<xsd:element name="GoodsAndServicesDesc" type="ShortExplanationType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Description of  goods and services provided for the vehicle</Description>
									<LineNumber>Line 6c</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
			</xsd:element>
			<xsd:element name="IntangibleReligiousBenefitsInd" type="DigitBooleanType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>If this box is checked, donee certifies that the goods and services consisted solely of intangible religious benefits</Description>
									<LineNumber>Line 6c</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
			</xsd:element>
			<xsd:element name="VehClaimDedUnderSpcfdAmtInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Under the law, the donor may not claim a deduction of more than $500 for this vehicle if this box is checked</Description>
						<LineNumber>Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Form1098CTotalAmtGrpType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Form 1098 C Total Amount Group Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2023-01-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The content model for the Form 1098 C total amounts.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GrossProceedsFromSaleOfVehAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross proceeds from sale</Description>
						<LineNumber>Line 4c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ValueOfGoodsAndSrvcForVehAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Value of goods and services provided in exchange for the vehicle</Description>
						<LineNumber>Line 6b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
