Schemas/1099 Efiling Shema iris-a2a-schema-and-business-rules-ty2025-v1.2/IRIS A2A INTAKE XML LIBRARY 2025/FORM_TYPES/IRS-Form1099DAType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2024 rel. 2 sp1 (x64) (https://www.altova.com) by IRS Software Management (OPO OIT) -->
<xsd:schema xmlns="urn:us:gov:treasury:irs:ir" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:us:gov:treasury:irs:ir" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<DescriptionTxt>IR (Information Return) Schema - Form 1099 DA</DescriptionTxt>
			<VersionDt>2025-03-05</VersionDt>
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports / Include ===== -->
	<xsd:include schemaLocation="../COMMON/IRS-IRefileTypes.xsd"/>
	<!-- ================================ -->
	<!-- =====Form Types Declarations===== -->
	<!-- ================================ -->
	<xsd:complexType name="Form1099DADetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Form 1099 DA Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2024-12-02</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The content model for the form 1099 DA.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TaxYr" type="YearType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax Year</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RecordId" type="RecordIdType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Record Identifier</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IssuerOfficeCd" type="Code4Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Issuer Office Code</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VoidInd" type="DigitBooleanType" fixed="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Void Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CorrectedInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Corrected Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PrevSubmittedRecRecipientGrp" type="PrevSubmittedRecRecipientGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Previously Submitted Record Recipient Group</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RecipientDetail" type="RecipientDetailType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Recipient Detail</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RecipientAccountNum" type="Text30Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Recipient Account Number</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CUSIPNum" type="CUSIPNumberType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>CUSIP (Committee on Uniform Security Identification Procedures) Number</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Form8949ApplicableCheckboxCd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Applicable Checkbox code on Form 8949</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="StringType">
						<xsd:enumeration value="G"/>
						<xsd:enumeration value="H"/>
						<xsd:enumeration value="J"/>
						<xsd:enumeration value="K"/>
						<xsd:enumeration value="Y"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DATypeCd" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Code of Digital Asset</Description>
						<LineNumber>Line 1a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="AlphaNumericType">
						<xsd:maxLength value="9"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DANm">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of Digital Asset</Description>
						<LineNumber>Line 1b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="35"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DAUnitQty" type="DAUnitQuantityPosType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of Units</Description>
						<LineNumber>Line 1c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AcquiredDt" type="DateNoTimeZoneType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date acquired</Description>
						<LineNumber>Line 1d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SoldOrDisposedDt" type="DateNoTimeZoneType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date sold or disposed</Description>
						<LineNumber>Line 1e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ProceedsAmt" type="USDecimalAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Proceeds</Description>
						<LineNumber>Line 1f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CostOrOtherBasisAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Cost or other basis</Description>
						<LineNumber>Line 1g</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AccruedMarketDiscountAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Accrued market discount</Description>
						<LineNumber>Line 1h</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NondeductibleWashSaleLossAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Wash sales loss disallowed amount</Description>
						<LineNumber>Line 1i</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BasisReportedInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Check if basis reported to IRS</Description>
						<LineNumber>Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GrossProceedsInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross proceeds indicator</Description>
						<LineNumber>Line 3a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NetProceedsInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net proceeds indicator</Description>
						<LineNumber>Line 3a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="QOFInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>QOF indicator</Description>
						<LineNumber>Line 3b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FederalIncomeTaxWithheldAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>The amount of federal income tax withheld</Description>
						<LineNumber>Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LossNotAllowedInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Loss is not allowed indicator</Description>
						<LineNumber>Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortTermGainLossInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Short term gain or loss indicator</Description>
						<LineNumber>Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LongTermGainLossInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Long term gain or loss indicator</Description>
						<LineNumber>Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OrdinaryInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Ordinary indicator</Description>
						<LineNumber>Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CashOnlyProceedsInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Check if proceeds are only cash</Description>
						<LineNumber>Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BrokerReliedCustAcquisInfoInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Check if broker relied on customer-provided acquisition information</Description>
						<LineNumber>Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NoncoveredSecurityDAInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Check if digital asset is a noncovered security</Description>
						<LineNumber>Line 9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="QlfyStablecoinsProceedsInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualifying stablecoins indicator</Description>
						<LineNumber>Line 11a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SpecifiedNFTProceedsInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Specified NFTs indicator</Description>
						<LineNumber>Line 11a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TransactionCnt" type="Integer15NNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of transactions</Description>
						<LineNumber>Line 11b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NFTAttributableFirstSalesAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Proceeds that are attributable to first sales of NFTs by creator or minter</Description>
						<LineNumber>Line 11c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DATransferredInUnitQty" type="DAUnitQuantityPosType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of units transferred in</Description>
						<LineNumber>Line 12a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DATransferredInUnitDt" type="DateNoTimeZoneType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Units transfer-in date</Description>
						<LineNumber>Line 12b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StateLocalTaxGrp" type="StateLocalTaxGrpType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>State and Local Tax</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Form1099DATotalAmtGrpType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Form 1099 DA Total Amount Group Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2024-12-04</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The content model for the form 1099 DA total amounts.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FederalIncomeTaxWithheldAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Federal Income Tax Withheld Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ProceedsAmt" type="USDecimalAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Proceeds</Description>
						<LineNumber>Line 1f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CostOrOtherBasisAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Cost or other basis</Description>
						<LineNumber>Line 1g</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AccruedMarketDiscountAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Accrued market discount</Description>
						<LineNumber>Line 1h</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NondeductibleWashSaleLossAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Wash sales loss disallowed amount</Description>
						<LineNumber>Line 1i</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NFTAttributableFirstSalesAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Proceeds that are attributable to first sales of NFTs by creator or minter</Description>
						<LineNumber>Line 11c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Form1099DATotalByStateGrpType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Form 1099 DA Total by State Group Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2024-12-02</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The content model for the form 1099 DA totals by state</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="StateAbbreviationCd" type="StateType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>State Abbreviation Code</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalReportedRcpntFormCnt" type="TotalNumberNonNegativeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Reported Recipient Form Count</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FederalIncomeTaxWithheldAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Federal Income Tax Withheld Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StateTaxWithheldAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>State Tax Withheld Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LocalTaxWithheldAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Local Tax withheld Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ProceedsAmt" type="USDecimalAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Proceeds</Description>
						<LineNumber>Line 1f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CostOrOtherBasisAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Cost or other basis</Description>
						<LineNumber>Line 1g</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AccruedMarketDiscountAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Accrued market discount</Description>
						<LineNumber>Line 1h</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NondeductibleWashSaleLossAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Wash sales loss disallowed amount</Description>
						<LineNumber>Line 1i</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NFTAttributableFirstSalesAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Proceeds that are attributable to first sales of NFTs by creator or minter</Description>
						<LineNumber>Line 11c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
