Schemas/1099 Efiling Shema iris-a2a-schema-and-business-rules-ty2025-v1.2/IRIS A2A INTAKE XML LIBRARY 2025/FORM_TYPES/IRS-Form5498SAType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:us:gov:treasury:irs:ir" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:us:gov:treasury:irs:ir" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<DescriptionTxt>IR (Information Return) Schema - Form 5498 SA</DescriptionTxt>
			<VersionDt>2025-02-13</VersionDt>
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports / Include ===== -->
	<xsd:include schemaLocation="../COMMON/IRS-IRefileTypes.xsd"/>
	<!-- ================================ -->
	<!-- =====Form Types Declarations===== -->
	<!-- ================================ -->
	<xsd:complexType name="Form5498SADetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Form 5498 SA Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2023-01-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The content model for the Form 5498 SA.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TaxYr" type="YearType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax Year</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RecordId" type="RecordIdType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Record Identifier</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IssuerOfficeCd" type="Code4Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Issuer Office Code</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VoidInd" type="DigitBooleanType" fixed="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Void Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CorrectedInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Corrected Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PrevSubmittedRecRecipientGrp" type="PrevSubmittedRecRecipientGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Previously Submitted Record Recipient Group</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RecipientDetail" type="RecipientDetailType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Recipient Detail</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RecipientAccountNum" type="Text30Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Recipient Account Number</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ArcherMSAContributionAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Employee or self-employed person's Archer MSA contributions including amounts from January to April 18th of the following tax year.</Description>
						<LineNumber>Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalContributionsAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total contributions made for filing tax year</Description>
						<LineNumber>Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PriorYearContributionAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total contributions made during the processing year of return is filed</Description>
						<LineNumber>Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RolloverContributionAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rollover Contributions from another Archer MSA/HSA to this Archer MSA/HSA</Description>
						<LineNumber>Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EOYFairMarketValueAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rollover Contributions from another Archer MSA/HSA to this Archer MSA/HSA</Description>
						<LineNumber>Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HSAInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Distribution is from: HSA</Description>
						<LineNumber>Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ArcherMSAInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Distribution is from: Archer MSA</Description>
						<LineNumber>Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MAMSAInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Distribution is from: Medicare Advantage MSA</Description>
						<LineNumber>Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Form5498SATotalAmtGrpType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Form 5498 SA Total Amount Group Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2023-01-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The content model for the Form 5498 SA total amounts.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ArcherMSAContributionAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Employee or self-employed person's Archer MSA contributions including amounts from January to April 18th of the following tax year.</Description>
						<LineNumber>Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalContributionsAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total contributions made for filing tax year</Description>
						<LineNumber>Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PriorYearContributionAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total contributions made during the processing year of return is filed</Description>
						<LineNumber>Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RolloverContributionAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rollover Contributions from another Archer MSA/HSA to this Archer MSA/HSA</Description>
						<LineNumber>Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EOYFairMarketValueAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rollover Contributions from another Archer MSA/HSA to this Archer MSA/HSA</Description>
						<LineNumber>Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>