Schemas/1099 Efiling Shema iris-a2a-schema-and-business-rules-ty2025-v1.2/IRIS A2A INTAKE XML LIBRARY 2025/FORM_TYPES/IRS-Form1099QType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:us:gov:treasury:irs:ir" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:us:gov:treasury:irs:ir" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<DescriptionTxt>IR (Information Return) Schema - Form 1099 Q</DescriptionTxt>
			<VersionDt>2025-02-13</VersionDt>
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports / Include ===== -->
	<xsd:include schemaLocation="../COMMON/IRS-IRefileTypes.xsd"/>
	<!-- ================================ -->
	<!-- =====Form Types Declarations===== -->
	<!-- ================================ -->
	<xsd:complexType name="Form1099QDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Form 1099 Q Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2023-01-10</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The content model for the form 1099 Q.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TaxYr" type="YearType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax Year</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RecordId" type="RecordIdType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Record Identifier</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IssuerOfficeCd" type="Code4Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Issuer Office Code</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VoidInd" type="DigitBooleanType" fixed="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Void Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CorrectedInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Corrected Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PrevSubmittedRecRecipientGrp" type="PrevSubmittedRecRecipientGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Previously Submitted Record Recipient Group</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RecipientDetail" type="RecipientDetailType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Recipient Detail</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RecipientAccountNum" type="Text30Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Recipient Account Number</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GrossDistributionAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross distribution</Description>
						<LineNumber>Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EarningsAmt" type="USDecimalAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Earnings</Description>
						<LineNumber>Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BasisAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross Distribution Basis</Description>
						<LineNumber>Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TrusteeToTrusteeTransferInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Trustee-to-trustee transfer</Description>
						<LineNumber>Line 4a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="QTPToRothIRATransferInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>QTP to Roth IRA transfer</Description>
						<LineNumber>Line 4b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DistriFromPrivateQTPInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Distribution is from Qualified tuition program - Private</Description>
						<LineNumber>Line 5a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DistriFromStateQTPInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Distribution is from Qualified tuition program - State</Description>
						<LineNumber>Line 5b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DistriFromCoverdellESAInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Distribution is from Coverdell ESA</Description>
						<LineNumber>Line 5c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NotDesignatedBeneficiaryInd" type="DigitBooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Check if the recipient is not the designated beneficiary</Description>
						<LineNumber>Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Form1099QDistributionCd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 1099 Q Distribution Code</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="StringType">
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
						<xsd:enumeration value="3"/>
						<xsd:enumeration value="4"/>
						<xsd:enumeration value="5"/>
						<xsd:enumeration value="6"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Form1099QTotalAmtGrpType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Form 1099 Q Total Amount Group Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2021-10-21</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The content model for the form 1099 Q total amounts.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GrossDistributionAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross distribution</Description>
						<LineNumber>Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EarningsAmt" type="USDecimalAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Earnings</Description>
						<LineNumber>Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BasisAmt" type="USDecimalAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross Distribution Basis</Description>
						<LineNumber>Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>